<ion-header>
  <ion-toolbar class="ion-text-center">
    <h3>Bienvenido</h3>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button [text]="'Salir'"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-toolbar>

</ion-header>

<ion-content >
  <ion-card >
    <img [src]="image">
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      <ion-badge slot="start">{{ gender }}</ion-badge>  <br>
      <ion-card-title>{{ firstName  }} {{ lastName }}</ion-card-title>
      {{ username }}<br><br>
      Contacto: <br>{{ email }} <br><br>
      <ion-button expand="block" fill="outline" [routerLink]="['/productos']"> Ir a catalogo</ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>
>
